#can1{border:navy double 10px;}

#but1{position:absolute;left:250px;top:50px;border:darkmagenta solid 5px;}
#but2{position:absolute;left:850px;top:100px;border:darkmagenta solid 5px;}
#text1{position:absolute;left:850px;top:150px;border:darkmagenta solid 5px;}